@import '@sage-app/sdk/theme.css';
@config "../tailwind.config.js";

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  overflow: hidden;
  background: transparent;
}
